*{
    margin: 100%;
    padding: 100%;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;

}
.nav-logo{
    height: 50px;
}
.logo{
    background-image: url("amazone_logo.png") ;
    height: 50px;
}